@import url("https://fonts.googleapis.com/css2?family=Playwrite+HR+Lijeva:wght@100..400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+AR:wght@100..400&family=Playwrite+HR+Lijeva:wght@100..400&display=swap");
* {
  margin: 0;
  padding: 0;
}
h1 {
  color: #03045e;
  font-family: Playwrite Argentina;
  font-size: 100px;
  font-weight: bold;
  text-decoration: underline;
}
body {
  background-color: #cdb4db;
  text-align: center;
}
.container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2vmin;
}
.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 2rem;
  border: none;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  font-size: 15vmin;
  color: #ffafcc;
  background-color: #caf0f8;
}
#new-game-btn {
  padding: 1rem;
  font-family: Playwrite;
  font-size: 1.25rem;
  background-color: #ffafcc;
  color: white;
  border: none;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}
#Reset {
  padding: 1rem;
  font-family: Playwrite;
  font-size: 1.25rem;
  background-color: #ffafcc;
  color: white;
  border: none;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}
.msg-container {
  height: 30vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
.hide {
  display: none;
}
